body {
    --bg: var(--background);
    --spacing: var(--md);

    display: grid;
    place-items: center;
    min-height: 100vh;
    gap: var(--xs);

    background-color: var(--bg);

    & :where(nav, header, footer):not(.hero) {
        --bg: var(--secondary);
        background-color: var(--bg);
    }

    & :where(main > section, div):not(.hero) {
        --bg: var(--secondary);
        background-color: var(--bg);
        margin-block: var(--spacing);
        padding: var(--spacing);
    }

    & * :where(:not(h1, p)){
        //--bg: var(--secondary);
        --txt: var(--text);
        color: var(--txt);
        border-radius: var(--roundness);
    }
}

a:not([role="img"]) {

    --txt-color: var(--accent);
    width: fit-content;
    height: fit-content;

    &:visited,
    &:link {
        color: var(--txt-color);
    }
}