body, .app {
    --bg: var(--background);
    --spacing: var(--md);

    display: grid;
    place-items: center;
    min-height: 100vh;
    //min-width: 750px;
    gap: var(--md);

    background-color: var(--bg);

    & :where(nav, header, footer):not(.hero) {
        --bg: var(--background);
        background-color: var(--bg);
    }

    & :where(main > section, div):not(.hero, .wrapper, .hamburguer-icon) {
        --bg: var(--secondary);
        background-color: var(--bg);
        margin-block: var(--spacing);
        padding: var(--spacing);
    }

    & :where(main > section > div):not(.hero, .wrapper, .hamburguer-icon) {

        --spacing: var(--md);

        margin-block: var(--spacing);
    }

    & * :where(:not(h1, p, span)){
        //--bg: var(--secondary);
        --txt: var(--text);
        color: var(--txt);
        border-radius: var(--roundness);
    }
}

:where(a:not([role="img"])) {

    --txt-color: var(--accent);
    width: fit-content;
    height: fit-content;

    &:is(:visited, :link) {
        color: var(--txt-color);
    }
}