body, .app {
    --bg: var(--background);
    --spacing: var(--md);

    display: grid;
    place-items: center;
    min-height: 100vh;
    //min-width: 750px;
    gap: var(--md);

    background-color: var(--bg);

    & :where(nav, header, footer):not(.hero) {
        --bg: var(--background);
        background-color: var(--bg);
    }

    & :where(main > section, div):not(.hero, .wrapper, .hamburguer-icon) {
        --bg: var(--secondary);
        background-color: var(--bg);
        margin-block: var(--spacing);
        padding: var(--spacing);
    }

    & :where(main > section > div):not(.hero, .wrapper, .hamburguer-icon) {

        --spacing: var(--md);

        margin-block: var(--spacing);
    }

    & * :where(:not(h1, p, span)){
        //--bg: var(--secondary);
        --txt: var(--text);
        color: var(--txt);
        border-radius: var(--roundness);
    }
}

:where(a:not([role="img"])) {

    --txt-color: var(--accent);
    width: fit-content;
    height: fit-content;

    &:is(:visited, :link) {
        color: var(--txt-color);
    }
}

// Basic Styling for forms

:where(form) {
    display: grid;
    place-items: center;
    justify-items: stretch;
    gap: var(--spacing);
}

// Clean the code after a time to better perfomance and reading
// Low the specifity low as possible

// Defining the focus on all elements by default

:where(:focus) {
    --outline: var(--outline-md);
    outline: var(--outline);
    outline-offset: var(--xxs);
}

// EFFECTS 

:where(:is(button, summary, li):not(.disabled):active) {
    filter: var(--effect-bright);
}