@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    line-height: 1.15;
}

body {
    box-sizing: border-box;
    font-size: var(--font-size);
}

img,
video,
svg {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}