@import "abstracts/mixins";
@import "abstracts/preferences";
@import "abstracts/props";
@import "abstracts/typography";
@import "abstracts/variables";

// BASE

@import "base/base";
@import "base/reset";

// COMPONENTS

@import "components/accordion";
@import "components/btn";
@import "components/card";
@import "components/dropdown";
@import "components/general";
@import "components/input";
@import "components/media";
@import "components/switch";

// LAYOUT

@import "layout/footer";
@import "layout/header";
@import "layout/hero";
@import "layout/main";
@import "layout/nav";
@import "layout/section";

// UTILS

@import "utils//color-scheme";
@import "utils/display";
@import "utils/family";
@import "utils/text";
//@import "utils/vars";


// VENDORS

//@import "vendors/normalize";