html {
    color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #030217;
        --background: #e9e8fd;
        --primary: #47465d;
        --secondary: #16161d;
        --accent: #6e6e91;
    }
}

[data-theme="light"] {

    --text: #030217;
    --background: #e9e8fd;
    --primary: #47465d;
    --secondary: #16161d;
    --accent: #6e6e91;
}