html {
    color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #060514; /* Changed to a dark color for better contrast with white */
        --background: #ffffff; /* Changed to white */
        --primary: #413e9f;
        --secondary: #928fdb;
        --accent: #716ed8;

        --blend-text-color: #FFF;
        --blend-back-color: #000;
        --blend-highlight-color: #000;
    }
}

[data-theme="light"] {
    --text: #302f35; /* Changed to a dark color for better contrast with white */
    --background: #ffffff; /* Changed to white */
    --primary: #413e9f;
    --secondary: #12103c;
    --accent: #4f4bce;

    --blend-text-color: #FFF;
    --blend-back-color: #000;
    --blend-highlight-color: #000;
}