html {
    color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
    :root {
        --blend-text-color: #FFF;
        --blend-back-color: #000;
        --blend-highlight-color: #000;

        // EFFECT LEVELS

        --effect-bright-level: 85%;
    }
}

[data-theme="light"] {
    --blend-text-color: #FFF;
    --blend-back-color: #000;
    --blend-highlight-color: #000;
}


// TEMPLATES


[data-style="sharp"] {

    --roundness: 0;
}

[data-style="modern"] {

    --spacing: var(--lg);
}