@property --base {
    syntax: "<lenght";
    inherits: false;
    initial-value: 1.6rem;
}

@property --block-spacing {
    syntax: "<lenght>";
    inherits: true;
    initial-value: .4rem;
}

@property --inline-spacing {
    syntax: "<lenght>";
    inherits: true;
    initial-value: .8rem;
}

@property --roundness {
    syntax: "<lenght>";
    inherits: true;
    initial-value: .4vmin;
}

@property --spacing {

    syntax: "<lenght>";
    inherits: true;
    initial-vaue: .8rem;
}