// DEFINE ALL FONT REALTED STUFF

body {
    --font-size: var(--md);

    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

:where(h1) {
    --text-color: var(--accent);
   
    color: var(--text-color);
}

h1, h2, h3,
h4, h5, h6 {
    --spacing: var(--lg);
    margin-bottom: var(--spacing);
}

p {
    --text-color: var(--content-text);
    --font-weight: 500;

    color: var(--text-color);
    font-weight: var(--font-weight);

    &:not(:last-child) {
        margin-bottom: var(--lg);
    }
}

code {
    --font-family: monospace;
    --bg: var(--foreground-secondary)

    font-family: var(--font-family);
    background-color: var(--bg);
}