// DEFINE ALL FONT REALTED STUFF

@import "variables";

body {
    --font-size: var(--md);

    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

:where(h1) {
    --text-color: var(--accent);
   
    color: var(--text-color);
}

h1, h2, h3,
h4, h5, h6 {
    --spacing: var(--lg);
    margin-bottom: var(--spacing);
}

h2 { --spacing: var(--md) }

h3, h4 { --spacing: var(--sm)}

h5 { --spacing: var(--sm) }

h6 { --spacing: var(--xs) }

p {
    --text-color: var(--content-text);
    --font-weight: 500;

    color: var(--text-color);
    font-weight: var(--font-weight);

    &:not(:last-child) {
        margin-bottom: var(--lg);
    }
}

code {
    --font-family: monospace;
    --bg: var(--foreground-secondary)

    font-family: var(--font-family);
    background-color: var(--bg);
}

// text variants

#{$text-elements} {

    &.muted {
        color: var(--muted-text);
    }

    &.foreground {
        color: var(--foreground-text);
    }
}

// utilities

#{$text-elements} {

    &.limited-text {

        --_line-number: 3;
        --_text-overflow: ellipsis;
        
        text-overflow: var(--_text-overflow);
        line-clamp: var(--_line-number);
        -webkit-line-clamp: var(--_line-number);
        //white-space: nowrap;
        overflow: hidden;
    }
}