:root {
    // COLOR PALETTE ---------------------------------

    --text: #e8e8ed;
    --background: #09090c;
    --primary: #47465d;
    --secondary: #16161d;
    --accent: #6f6e91;

    // BREAKPOINTS

    --bp-sm: 40em;
    --bp-md: 48em;
    --bp-lg: 64em;
    --bp-hg: 80em;

    // SPACING BASE ---------------------------------

    --spacing: .4rem;
    --jump: 4;

    // SPACING VARS ---------------------------------

    --xs: var(--spacing);
    --sm: calc(var(--spacing) * 2);
    --md: calc(var(--spacing) * 3);
    --lg: calc(var(--spacing) * 4);
    --hg: calc(var(--spacing) * 5);

    // Padding

    --padding: var(--lg);


    // BASE VARS ---------------------------------

    --roundness: var(--xs);

    // TYPOGRAPHY ---------------------------------

    --font-family: system-ui, 'Inter', 'Roboto';
    --font-weight: 400;
    --font-size: 1.6rem;
    --line-height: 1.15;

    // ANIMATION ---------------------------------

    --transition: .4s ease;

    // GENERAL -----------------------------------

    --bg: inherit;
    --txt: inherit;
}