:root, :where(html) {
    // GLOBAL SCOPED VARS

    --roundness: auto; // The border-radius to everything
    --spacing: .8rem; // the spacing between elements
    --spacing-y: auto;
    --spacing-x: auto;
    --jump: .4rem; // the jump value between elements
    --theme: dark; // the actual theme in the page
    --width: unset; // the witdth of an element
    --height: unset; // the height of each element

    // SPACING VARS ---------------------------------

    --xs: .4rem;   //  1 
    --sm: .8rem;   //  2
    --md: 1.6rem;  //  4
    --lg: 3.2rem;  //  6
    --xl: 6.4rem;  //  8
    --hg: 12.8rem; //  10

    // COLOR PALETTE ---------------------------------


    --text: #fdfdfc;
    --background: #0a0905;
    --primary: #374568;
    --secondary: #14110b;
    --accent: #51679a;

    

    --content-text: color-mix(in oklab, var(--text), #000 20%);
    --muted-text: color-mix(in oklab, var(--text), #000 40%);
    --muted-secondary: color-mix(in oklab, var(--secondary), #FFF 30%);

    // BREAKPOINTS

    --bp-sm: 40em;
    --bp-md: 48em;
    --bp-lg: 64em;
    --bp-hg: 80em;

    // SPACING BASE ---------------------------------

    --h-full: 100%;
    --h-half: 50%;
    --h-third: 33.3333%
    --h-quarter: 25%;

    --h-screen: 100vh;
    --h-half-screen: 50vh;
    --h-third-screen: 33.3333vh;
    --h-quarter-screen: 25vh;

    --w-full: 100%;
    --w-half: 50%;
    --w-third: 33.3333%
    --w-quarter: 25%;

    --w-screen: 100vw;
    --w-half-screen: 50vw;
    --w-third-screen: 33.3333vw;
    --w-quarter-screen: 25vw;

    // GRID -----------------------------------------

    --grid-cols: auto-fill;
    --grid-rows: auto;
    --grid-item-width: 10rem;
    --grid-justify-items: start;

    // Padding

    --padding: var(--sm);


    // BASE VARS ---------------------------------

    --roundness: var(--xs);

    // TYPOGRAPHY ---------------------------------

    --font-family: system-ui, 'Inter', 'Roboto';
    --font-weight: 400;
    --font-size: 1.6rem;
    --line-height: 1.15;

    // ANIMATION ---------------------------------

    --transition: .4s ease;

    // GENERAL -----------------------------------

    --bg: inherit;
    --txt-color: inherit;

    // FAMILY VARS
}