@use "color-palette";
@use "props";
@use "../utils/vars";

:where(:root, html) {
    // GLOBAL SCOPED VARS

    --roundness: unset; // The border-radius to everything
    --jump: 2; // the jump value between elements
    --theme: dark; // the actual theme in the page
    --width: auto; // the witdth of an element
    --height: auto; // the height of each element
    
    // CONTROL VARS ---------------------------------
    
    --base: 1.6rem; // Represent the inital value for measurements
    --spacing: .8rem; // the spacing between elements
    
    // SPACING VARS

    --spacing-y: calc(--spacing / 2);
    --spacing-x: calc(--spacing * 2);

    // MEASUREMENTS

    --sl: calc(var(--base) / 10);
    --3xs: calc(var(--base) / 8);
    --xxs: calc(var(--base) / 6);  //  0.5 Extra Extra Small
    --xs: calc(var(--base) / 4);   //  1.0 Extra Small
    --sm: calc(var(--base) / 2);   //  2.0 Small
    --md: var(--base);  //  4.0 Medium AKA default
    --lg: calc(var(--base) * 2);  //  6.0 Large
    --xl: calc(var(--base) * 4);  //  8.0 Extra Large
    --xxl: calc(var(--base) * 6);
    --3xl: calc(var(--base) * 8); //  10.0 Huge
    --hg: calc(var(--base) * 10);

    // Color created with the palette

    --destructive: #772626;

    --light-destructive: color-mix(in oklab, var(--destructive), #FFF 30%);

    // Blend Colors

    --blend-text-color: #000; // Color that blend with texts
    --blend-back-color: #FFF; // Color that blend with bg colors
    --blend-highlight-color: #FFF; // Color the enhance visibility

    // Content / Text

    --content-text: color-mix(in oklab, var(--text), var(--blend-text-color) 20%);

    --footer-text: color-mix(in oklab, var(--text), var(var(--blend-back-color) 75%));

    // Foregrounds & Muted colors ------------------------------

    // Muted --------------------------------------------------

    --muted-blend-intensity: 45%; // Intensity of blending

    --muted-text: color-mix(in oklab, var(--text), var(--blend-text-color) var(--muted-blend-intensity));

    --muted-accent: color-mix(in oklab, var(--accent), var(--background) var(--muted-blend-intensity));

    --muted-primary: color-mix(in oklab, var(--primary), var(--background) var(--muted-blend-intensity));

    --muted-secondary: color-mix(in oklab, var(--secondary), var(--background) var(--muted-blend-intensity));

    --muted-destructive: color-mix(in oklab, var(--destructive), var(--background) var(--muted-blend-intensity));

    --muted-background: color-mix(in oklab, var(--background) var(--blend-back-color) var(--muted-blend-intensity));

    // Foreground ---------------------------------------------------

    --foreground-blend-intensity: 15%;

    --foreground-text: color-mix(in oklab, var(--text), var(--blend-highlight-color) var(--foreground-blend-intensity));

    --foreground-primary: color-mix(in oklab, var(--primary), var(--text) var(--foreground-blend-intensity));

    --foreground-background: color-mix(in oklab, var(--background), var(--text) var(--foreground-blend-intensity));

    --foreground-secondary: color-mix(in oklab, var(--secondary), var(--text) var(--foreground-blend-intensity));

    --foreground-accent: color-mix(in oklab, var(--accent), var(--text) var(--foreground-blend-intensity));

    --foreground-destructive: color-mix(in oklab, var(--destructive), var(--text) var(--foreground-blend-intensity));

    // GRADIENTS ----------------------------------------------------

    --gradient-primary-secondary-accent: linear-gradient(90deg, rgba(23,60,115,1) 0%, rgba(8,20,38,1) 35%, rgba(41,108,209,1) 100%);

    --gradient-primary-secondary: linear-gradient(90deg, rgba(23,60,115,1) 0%, rgba(8,20,38,1) 35%);

    --gradient-secondary-accent: linear-gradient(90deg, rgba(8,20,38,1) 35%, rgba(41,108,209,1) 100%);

    --gradient-primary-accent: linear-gradient(90deg, rgba(23,60,115,1) 50%, rgba(41,108,209,1) 100%);

    // Highlight ------------------------------------------------------

    --highlight-text: color-mix(in oklab, var(--text) 60%);

    --highlight-accent: color-mix(in oklab, var(--accent) 60%);

    // BREAKPOINTS ---------------------------------

    --bp-sm: 40em;
    --bp-md: 48em;
    --bp-lg: 64em;
    --bp-hg: 80em;

    // SPACING BASE ---------------------------------

    --h-full: 100%;
    --h-half: 50%;
    --h-third: 33.3333%
    --h-quarter: 25%;

    --h-screen: 100vh;
    --h-half-screen: 50vh;
    --h-third-screen: 33.3333vh;
    --h-quarter-screen: 25vh;

    // width

    --w-full: 100%;
    --w-half: 50%;
    --w-third: 33.3333%
    --w-quarter: 25%;

    --w-screen: 100vw;
    --w-half-screen: 50vw;
    --w-third-screen: 33.3333vw;
    --w-quarter-screen: 25vw;

    // GRID -----------------------------------------

    --grid-cols: auto-fill;
    --grid-rows: auto;
    --grid-item-width: 10rem;
    --grid-justify-items: start;

    // Padding

    --padding-block: var(--sm);
    --padding-inline: var(--lg);

    // BASE VARS ---------------------------------

    --roundness: var(--sm);

    --inner-round: calc(var(--spacing) - var(--roudness));

    --round-sm: var(--sm);
    --round-md: var(--md);
    --round-lg: var(--lg);

    --round-full: 50%;
    --round-peal: 100vmax;

    // TYPOGRAPHY ---------------------------------

    // Types of font

    --font-serif: 'Times New Roman', Times, serif;
    --font-mono: 'Cascadia Code', 'Roboto Mono', monospace;
    --font-sans-serif: system-ui, 'Inter', 'Roboto', sans-serif;

    // Font Weight

    --font-weight: 400;

    // Font Size
    --font-size: var(--md);

    // Line Height
    --line-height: var(--line-height-relaxed); // Default

    --line-height-tight: 1.25;
    --line-height-snug: 1.375;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.625;
    --line-height-loose: 2; 

    // typography default

    --font-family: var(--font-sans-serif);

    // ANIMATION ---------------------------------

    --transition: var(--transition--duration, .2s) var(--transition--timing, ease-in);

    --transition--duration: .4s;
    --transition--timing: ease;
    --transition--props: all;

    // GENERAL -----------------------------------



    // FAMILY VARS

    // ICONS

    --expand-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(162, 175, 185)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

// GRADIENTS ----------------------------------------