.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

// GRID

.grid {

    //--spacing: 10rem;

    --grid-cols: auto-fill;
    --grid-rows: fit-content;
    --grid-item-width: 10rem;
    --grid-justify-items: center;


    display: grid;
    grid-template-columns: repeat(var(--grid-cols), minmax(var(--grid-item-width), 1fr));
    grid-auto-rows: var(--grid-rows);
    justify-content: space-between;
    justify-items: var(--grid-justify-items);
    place-content: var(--grid-justify-items);
    gap: var(--spacing);

    & > * {
        background-color: black;
        align-self: stretch;
        width: 100%;
    }
}