:root {
    --grid-cols: auto-fill;
    --grid-rows: auto;
    --grid-item-width: 10rem;
    --grid-justify-items: start;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

// GRID

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), minmax(var(--grid-item-width), 1fr));
    grid-auto-rows: var(--grid-rows);
    justify-items: var(--grid-justify-items);
}