/* This code simulates a family hierarchy, where the father/parent shares his attributes across the family tree.
   It aims to be a more flexible way to work with inheritance. */

   .parent {
        --bg: currentColor;
        --text-color: currentColor;
        --spacing: var(--md);

        background-color: var(--bg);


    // Heritage


    /* All children, no matter the nesting level */
    &.all-childs *:not(.bastard) {
        background-color: inherit;
    }

    /* All children, but only the direct ones */
    &.direct-childs > *:not(.bastard) {
        background-color: inherit;
    }

    /* Only the first direct child */
    &.first-child-only > :first-child:not(.bastard) {
        background-color: inherit;
    }

    /* All the first children, no matter the nesting level */
    &.all-first-childs :first-child:not(.bastard) {
        background-color: inherit;
    }

    /* All the last children, no matter the nesting level */
    &.all-last-childs :last-child:not(.bastard) {
        background-color: inherit;
    }

    /* Only the last direct child */
    &.last-child-only > :last-child:not(.bastard) {
        background-color: inherit;
    }

    /* Odd children */
    &.odd-children > *:nth-child(odd):not(.bastard) {
        background-color: inherit;
    }

    /* Even children */
    &.even-children > *:nth-child(even):not(.bastard) {
        background-color: inherit;
    }
}
