// Text elements
$text-elements:"p, h1, h2, h3, h4, h5, h6, span, a, li";

// Text Formatting
$text-formatting: "b, strong, i, em, mark, small, del, ins, sub, sup";

// Media elements
$media-elements: "img, video, audio";

// Box elements (main, header, nav, etc.)
$box-elements: "main, header, nav, section, div";

// Layout Elements

$layout-elements: "header, nav, footer";