@import "node_modules/normalize.css/normalize.css";
body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

:root {
  --roundness: auto;
  --spacing: auto;
  --text: #e8e8ed;
  --background: #09090c;
  --primary: #47465d;
  --secondary: #16161d;
  --accent: #6f6e91;
  --bp-sm: 40em;
  --bp-md: 48em;
  --bp-lg: 64em;
  --bp-hg: 80em;
  --spacing: .4rem;
  --jump: 4;
  --xs: var(--spacing);
  --sm: .8rem;
  --md: 1.2rem;
  --lg: 1.6rem;
  --hg: 2rem;
  --padding: var(--sm);
  --roundness: var(--xs);
  --font-family: system-ui, "Inter", "Roboto";
  --font-weight: 400;
  --font-size: 1.6rem;
  --line-height: 1.15;
  --transition: .4s ease;
  --bg: inherit;
  --txt-color: inherit;
}

body {
  --bg: var(--background);
  --spacing: var(--hg);
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
  gap: var(--spacing);
  background-color: var(--bg);
}
body :where(nav, header, footer, main) {
  --bg: var(--secondary);
  background-color: var(--bg);
}
body :where(section, div) {
  --bg: var(--primary);
  background-color: var(--bg);
}
body * {
  --txt: var(--text);
  color: var(--txt);
}

a:link,
a:visited {
  color: var(--accent);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  box-sizing: border-box;
  font-size: var(--font-size);
}

img,
video,
svg {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

footer {
  align-self: flex-end;
  display: grid;
  place-items: center;
  width: 100%;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul a {
  --txt: var(--secondary);
  color: var(--txt);
}

header {
  min-width: 100%;
  height: 10vmin;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-self: self-start;
}

main {
  width: 90%;
  height: 100%;
  padding: var(--md) var(--hg);
  border-radius: var(--roundness);
}

nav {
  --bg: auto;
  background-color: var(--bg);
  width: clamp(30vmin, 40rem, 45%);
}
nav * {
  transition: opacity var(--transition);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav ul li {
  width: fit-content;
  height: fit-content;
}
nav ul li:hover a {
  opacity: 0.8;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

.text-align-end {
  text-align: end;
}

.text-align-start {
  text-align: start;
}

:root {
  --grid-cols: auto-fill;
  --grid-rows: auto;
  --grid-item-width: 10rem;
  --grid-justify-items: start;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), minmax(var(--grid-item-width), 1fr));
  grid-auto-rows: var(--grid-rows);
  justify-items: var(--grid-justify-items);
}

/*# sourceMappingURL=yonaka.temps.css.map */
