// ACCORDION

details {

    --bg: var(--primary);
    --roundness: var(--xs);
    --spacing: var(--md);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing);

    summary {
        background-color: var(--bg);
        border-radius: var(--roundness);
        padding: var(--spacing);

        margin-bottom: var(--spacing);

        &:is(:focus, :active) {

            filter: brightness(150%);
        }

        transition: all .4s ease;
    }

    p {
        --bg: var(--foreground-accent);
        background-color: var(--bg);
        padding: var(--spacing);
        border-radius: var(--roundness);
    }
}

@keyframes margin-transition {
    0% {

        margin-bottom: 0;
    }

    100% {

        margin-bottom: var(--spacing);
    }
}
