// ACCORDION

details {

    --spacing: var(--md)

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);

    &::marker {
        display: none;
    }

    & summary {
        width: 100%;

        &::marker {
            appearance: none;
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }
}

::marker {
    appearance: none;
    display: none;
    visibility: hidden;
    list-style-type: none;
}