button {

    --width: 16em;
    --spacing: var(--md) var(--lg);
    --roundness: .6vmin;
    text-align: center;

    min-width: var(--widht);
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    padding: var(--md) var(--lg);
    border-radius: var(--roundness);
    transition: background-color, transform var(--transition);

    &:hover:not(.disabled) {
        transform: translateY(2%);
    }

    &:active:not(.disabled) {
        transform: translateY(6%);

        filter: brightness(115%);
    }

    &.cta {
        --bg: var(--accent);

        background-color: var(--bg);
        border: .2rem var(--accent) solid;

        &:hover {
            background-color: color-mix(in oklab, var(--bg), white 20%); 
        }

        &:active {
            background-color: color-mix(in oklab, var(--bg), white 10%);
        }
    }

    &.ghost {
        --bg: transparent;

        background-color: var(--bg);
        border: .2rem solid var(--accent);

        transition: transform var(--transition);
    }

    &.destructive {
        --bg: var(--destructive);
        
        background-color: var(--bg);
    }

    &.disabled {
        //pointer-events: none;
        cursor: not-allowed;
        opacity: .8;
    }
}