@use "../abstracts/mixins";

details[role="listbox"], details[role="list"] {
    
    & > ul {
        --bg: var(--foreground-primary);
        --border: var(--border-sm);
        --width: var(--w-full);

        background-color: var(--bg);
        max-width: var(--width);
        padding: var(--spacing) 0;
        border: var(--border);
        display: flex;
        flex-direction: column; 
        overflow-x: hidden;

        & li, & > * {
            text-transform: capitalize;
        }

        & li {
            --font-size: var(--md);
            --text-color: var(--text);
            --font-weight: 500;
            --bg: var(--foreground-primary);
            --border: var(--border-sm);
            --roudness: 0;
            --width: fit-content;

            font-size: var(--font-size);
            font-weight: var(--font-weight);
            color: var(--text-color);
            background-color: var(--bg);
            width: var(--widht);
            border-radius: 0;
            padding: var(--spacing);
            cursor: pointer;

            transition: background-color .4s ease, filter .2s ease-in;

            &:hover, &:focus-visible {
                --bg: var(--primary);
            }

            &:active {
                filter: var(--effect-bright);
            }
        }

        & li * {
            color: inherit;
        }

        & li:has(> a) {
            padding: 0;
            //box-sizing: border-box;
        }

        & li a {
            --roundness: 0;
            --width: var(--w-full);
            --bg: transparent;

            background-color: var(--bg);
            display: inline-flex;
            height: 100%;
            min-width: var(--width);
            margin: 0;
            padding: var(--spacing);
            border-radius: var(--roundness);

            &:focus-visible {
                outline-offset: 0;      
                --outline: var(--outline-sm);
                --bg: var(--primary);
            }
        }
        
    }
}

// SELECT

select {
    --font-size: var(--md);
    --text-color: var(--text);
    --font-weight: 500;

    cursor: pointer;

    appearance: none;
    width: 100%;
    
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-transform: capitalize;

    &::-ms-expand {
        display: none;
    }

    @include icon(var(--expand-icon));
        
    &::after {
        rotate: -90deg;
        transition: rotate .4s var(--transition-out-back);
        z-index: -200;
        background-color: khaki;
    }

    /* &::after {
        content: "";
        width: 30em;
        height: 30em;
        background-color: var(--select-arrow);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        z-index: 2000;
    } */
    
    &, & > * {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    
    & > option {
        --bg: var(--foreground-primary);
        --border: var(--border-sm);

        color: var(--text-color);
        background-color: var(--bg);
        border-radius: 0;
        padding: var(--spacing);
        cursor: pointer;


        transition: background-color .4s ease, filter .2s ease-in;

        &:hover {
            --bg: var(--primary);
        }

        &:active {
            filter: var(--effect-bright);
        }
    }
}