a.scroll-to-top {
    display: grid;
    place-items: center;
    text-align: center;
    position: sticky;
    padding: var(--spacing);
    bottom: 0;
    left: 90%;
    width: 5%;
    z-index: 20;
    aspect-ratio: 1 / 1;
    background-color: red;
    behavior: smooth;
    transform: translateY(200%);
}

div.hamburguer-icon {

    width: 8vmin;
    border-radius: 100vmax;
    padding: .4vmin;
    background-color: rebeccapurple;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    gap: .6vmin;
    align-items: center;
    justify-content: center;

    span {
        background-color: var(--background);
        display: block;
        width: 80%;
        height: .6rem;
        backface-visibility: hidden;
    }
}

// INTERACTIONS ------------------------------------------------

input:focus {
    outline: var(--accent) .2rem solid;
}