input, label {

    cursor: pointer;
    transition: background-color var(--transition);
}

// Label

label {

    --spacing-y: var(--xs);
    --spacing-x: var(--md);

    width: fit-content;

    &:has( > input[type="file"]) {
    
        font-weight: 600;
        vertical-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .1rem dashed var(--text);
        width: 100%;
        height: 20vh;
        padding: var(--spacing-y) var(--spacing-x);
        text-align: center;
        transition: background-color .4s ease-in;
    
        &:hover {
            background-color: var(--accent);
        }
    }

    &:has( > input[type="color"]) {
        display: flex;
        align-items: center;
    }

    
    // SWITCH -------------------------------------------------
    
    &:has(input[type="checkbox"][role="switch"]) {
        width: 4.4em;
        height: 2.4em;
        border-radius: 100vmax;
        border: .2rem solid var(--text);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color 2s ease;
    }
    
    &:has(input[role="switch"][type="checkbox"]:checked){
        background-color: var(--primary);
    }

    input[type="checkbox"][role="switch"] {
        visibility: hidden;
    
        &:checked::after {
            transform: translateX(120%);
            background-color: var(--accent);
        }

        &:hover::after {
            opacity: .8;
        }

        &:disabled {
            opacity: .6;
            pointer-events: none;
        }
    
        &::after {
            content: "";
            visibility: visible;
            display: block;
            background-color: var(--text);
            aspect-ratio: 1 / 1;
            height: 80%;
            position: absolute;
            top: 10%;
            left: 5%;
            border-radius: 50%;
            transition: transform .24s ease-in, opacity .4s ease-out, background-color 2s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    
    input[type="checkbox"][role="switch"].squished {
        hyphens: auto;
    }
}


input {

    --roundness: .24vmin;

    &[type="color"],
    &[type="date"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }


    // File Input

    &[type="file"] {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    // Color Input

    &[type="color"] {

        --width: 2.4rem;

        border: none;
        width: var(--width);

        border-radius: var(--roundness);
        background-color: transparent;
        overflow: hidden;
        
        &::-webkit-color-swatch {
            border-radius: var(--roundness);
            overflow: hidden;
            border: none;
        }

        &:active::-webkit-color-swatch,  
        &:focus::-webkit-color-swatch {
            border: .1rem var(--text) solid;
        }
    }

    // Date Input

    &[type="date"] {
        --bg: var(--primary);
        --text-color: var(--text);

        display: inline-flex;
        align-items: center;
        //justify-content: space-around;

        text-align: center;
        vertical-align: center;

        background-color: var(--bg);
        color: var(--text-color);

        border: none;
        padding: .8vmin;
        border-radius: var(--roundness);

        font-family: var(--font-family);
        font-weight: 500;
        letter-spacing: .2ch;

        &::-webkit-calendar-picker-indicator {
            background-color: var(--secondary);
            padding: .6vmin .8vmin;
            border-radius: var(--roundness);
            align-self: center;
            margin-top: 2.4%;
            cursor: pointer;
        }
    }

    // Radio

    &[type="radio"] {

        scroll-padding-inline: round($number: 10);
    }

    // Switch
    

}



