// Hidden Input

label[role="button"]:has( > input[type="checkbox"]) {

    & input[type="checkbox"] {

        display: none;
    }
}

// Changing State -> Checked

label[role="button"]:has( > input[type="checkbox"]:checked) {

    background-color: red; // Just a debug sign

    // Styling the Article with role dialog when the input is checked

    & + [role="dialog"] {

        display: grid;
       
    }
}

label[role="button"]:has( > input[type="checkbox"]) + [role="dialog"] {

    display: none;
   
    --_z-index: var(--index-popup);
    --_modal-top: 50%;
    --_modal-left: 50%;

    z-index: var(--_z-index);

    position: fixed;
    top: var(--_modal-top);
    left: var(--_modal-left);
    transform: translate(-50%, -50%);


    & [role="dialog"] {

        position: fixed;

        --_modal-top: inherit;
        
        //--_z-index: calc(var(--_z-index) - 1);
        //--_modal-top: calc(inherit + 1%);

        z-index: calc(var(--_z-index) - 5);

        top: var(--_modal-top);
    }
}

// Stop scrolling when a modal is opened

html:has(label[role="button"] > input[type="checkbox"]:checked) {
    overflow-y: visible;
}

:is(article[role="dialog"], article[role="dialog"] article[role="dialog"]) {

    --_modal-width: 50dvw;
    --_modal-height: 50dvh;

    --_bg: var(--foreground-background);

    width: var(--_modal-width, 50%);
    height: var(--_modal-height, 50%);

    overflow: hidden;

    background-color: var(--_bg);

    // Building a layout

    & > header {

        background-color: black;
    }

    & > footer {

        background-color: chocolate;
    }
}

// Closer
.modal-close {

    float: right;
    font-size: 2.4em;

    &:hover {

        color: var(--light-destructive);
    }

    transition: color .1s ease-in;
}