footer {
    --width: 100%;
    --height: 35vmin;

    align-self: flex-end;
    display: grid;
    place-items: center;
    width: var(--width);
    height: var(--height);

    & ul {
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
            --txt: var(--secondary);

            color: var(--txt)
        }
    }
}