body > footer {
    --_width: 100%;
    --_height: 35vmin;

    --_txt: color-mix(in oklab, var(--text-color) 90%, black 10%);

    color: var(--_txt);
    align-self: flex-end;
    display: grid;
    place-items: center;
    width: var(--_width);
    height: var(--_height);
    border-top: .1rem solid var(--foreground-accent);

    & ul {
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
            color: var(--_txt);
        }
    }
}