.hero {
    --bg-img-url: url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80);
    --bg-img-size: cover;
    --bg-img-repeat: no-repeat;
    --bg-img-pos: center;

    display: grid;
    place-items: center;
    align-content: center;
    width: var(--w-full);
    height: var(--h-screen);
    background-color: var(--background);
    background-image: var(--bg-img-url);
    background-size: var(--bg-img-size);
    background-repeat: var(--bg-img-repeat);
    background-position: var(--bg-img-pos);
    text-align: center;

    & :is(h1, p) {

        --font-size: 11.44rem;
    }

    & h1 {
        font-size: var(--font-size);
        color: var(--accent);
    }

    & p {
        font-size: calc(var(--font-size) / 5);
    }

    & button {

    }
}