main {
    --width: 80%;
    --height: auto;
    --spacing: var(--lg);
    --bg: inherit;

    width: clamp(75%, var(--width), 100vw);
    height: var(--height);
    padding: var(--md) var(--lg);
    border-radius: var(--roundness);
    margin-block: var(--spacing);
    background-color: var(--bg);
}