body > main {
    --width: 50%;
    --height: auto;
    --spacing: var(--lg);
    --bg: inherit;

    width: max(var(--width), 80dvw);
    height: var(--height);
    padding: var(--lg) var(--xl);
    border-radius: var(--roundness);
    margin-block: var(--spacing);
    background-color: var(--bg);
}