body > main {
    --_width: var(--main-container-size);
    --_height: auto;
    --_spacing-y: var(--spacing-y);
    --_bg: inherit;

    width: clamp(20rem, var(--_width), 100dvw);
    height: var(--_height);
    //padding: var(--lg) var(--xl);
    border-radius: var(--roundness);
    margin-block: var(--_spacing-y);
    //margin-inline: auto;
    background-color: var(--_bg);
}