body > main {
    --width: 60%;
    --height: auto;
    --spacing: var(--lg);
    --bg: inherit;

    width: clamp(80vmin, var(--width), 80dvw);
    height: var(--height);
    padding: var(--md) var(--lg);
    border-radius: var(--roundness);
    margin-block: var(--spacing);
    background-color: var(--bg);
}