// Navigation Styles

// Nav default


// Header direct child of header
header > nav {
    --font-size: 1.75rem;
    --bg: auto;
    background-color: var(--bg);
    width: clamp(30vmin, 40rem, 45%);

    & * {
        transition: opacity var(--transition);
    }
    
    & ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        & li {
            width: fit-content;
            height: fit-content;

            a:not([role="button"]) {
                font-size: var(--font-size);
                font-weight: 600;
            }

            &:is(:hover, :focus) a {
                opacity: .8;
            }

            &:active a {
                opacity: .6;
            }
        }
    }
}

@media only screen and (max-width: 37.5em) {
    header nav ul {
        display: none;
        visibility: hidden;
    }
}