// Navigation Styles

// Nav default


// Header direct child of header
header > nav {
    --font-size: 1.75rem;
    --bg: auto;
    background-color: var(--bg);
    width: clamp(30vmin, 40rem, 45%);

    & * {
        transition: opacity var(--transition);
    }
    
    & ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        & li {
            width: fit-content;
            height: fit-content;

            a:not([role="button"]) {
                font-size: clamp(1rem, 0.7rem + 0.96vw, 1.6rem);;
                font-weight: 600;
            }

            &:is(:hover, :focus) a {
                opacity: .8;
            }

            &:active a {
                opacity: .6;
            }
        }
    }
}

nav[role="navigation"].floating-nav {

    --_spacing-x: var(--sm);
    --_spacing-y: var(--md);

    border-radius: 0 var(--roundness) var(--roundness) 0;
    width: fit-content;
    padding-inline: var(--_spacing-x);
    padding-block: var(--_spacing-y);
    position: fixed;
    left: 0;
    
    
    &[data-orientation="right"] {
        left: unset;
        right: 0;
    }

    & ul {

        display: grid;
        gap: var(--sm);
    }

    & li {

        --_spacing-y: var(--lg);
        --_spacing-x: var(--lg);
        --_border: var(--border);

        padding-block: var(--_spacing-y);
        padding-inline: var(--_spacing-x);
        border: var(--_border);
    }

}

// MEDIA QUERIES

@media only screen and (max-width: 37.5em) {
    header nav ul {
        display: none;
        visibility: hidden;
    }
}